.row{
    max-width: 1140px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'lato','sans-serif';
    background-color: white;
    color: #817d7d;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: whitesmoke;
}
.btn-full{
    background-color: cyan;
}
.btn-ghost{
    border: 1px solid cyan;
}    